{{ define "stylesheet" }}
<style>
a:link, a:visited {
  background-color: green;
  color: white;
  padding: 14px 25px;
  margin: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 40px;
}

a:hover, a:active {
  background-color: lightgreen;
}

body {
  background: skyblue;
  text-align: center;
}
</style>
{{ end }}
